@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: #26292e;
	font-family: 'Poppins', sans-serif;
}

h1{
	color: #fff;
	text-align: center
}

u{
	text-decoration-color: #d3a625;
}

.Registrarse{
	text-align: center;
	font-size: 13px;
}

p{
	color: #fff; 
}

.Registro{
	width: 400px;
	background: #1e2124;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 50px;
	box-shadow: 10px 13px 40px #000;
	border-radius: 10px; 
}

.Registro h1{
	font-size: 30px;
	margin-bottom: 20px;
}

.controles{
	margin-top: 5px;
	width: 100%;
	background: #1e2124;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
	border: 3px solid #d3a625;
	font-size: 18px;
	color: #fff;
	outline: none;
}

:placeholder{ 
	color: #fff; 
}

.Registro .contenedor{
	display: flex;
	justify-content: center;
}

.Boton1{
	width: 50%;
	background:	#1e2124;
	border: 3px solid #d3a625;
	border-radius: 20px;
	padding: 12px;
	margin: 15px 5;
	margin-right: 10px;
	font-size: 16px;
	color: #fff;
}

.Boton1:hover{
	background-color: #d3a625;
	cursor: pointer;
	transition: all 0.5s;
}

.Boton2{
	width: 50%;
	background:	#1e2124;
	border: 3px solid #d3a625;
	border-radius: 20px;
	padding: 12px;
	margin: 15px 5;
	font-size: 16px;
	color: #fff;
}

.Boton2:hover{
	background-color: #d3a625;
	cursor: pointer;
	transition: all 0.5s;
}

.vinculo{
	text-align:center;
	color: #fff;
}
.vinculo{
	text-align: center;
	text-decoration: none;
}
.vinculo:hover{
	text-decoration: none;
	color: #d3a625;
}

.Regresar{
	display: flex;
	justify-content: center;
	text-align:center;
	color: #fff;
	margin-top: 20px;
}
.Regresar a{
	color: #fff;
	text-align: center;
	text-decoration: none;
}
.Regresar a:hover{
	text-decoration: none;
	color: #d3a625;
}

@media (max-width: 800px){

.Registro{
	width: 350px; 
}

.controles{
	margin-bottom: 15px;
}











}