body{
	background-image: url("Imagenes/Fondo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
h1{
	color: #fff;
	text-align: center;
	font-family:´Bangers´,cursive;
	margin-top: 20px;
	margin-bottom: 20px;
	text-shadow: 5px 3px 8px #000;

}
th{
	text-align: center;
}
tbody{
	text-align: center;
}
.Regresar{
	font-family: Times New Roman;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align:center;
}
.Regresar a{
	text-align: center;
	text-decoration: none;
	color: white;
}
.Regresar a:hover{
	text-decoration: underline;
	color: #d3a625;
}